<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Registro</title>
    <script src="/script.js"></script>
</head>

<body>
    <h1>Registro de personas</h1>
    <form id="registerForm">
        <input type="text" id="name" placeholder="Nombre" required />
        <input type="text" id="surname" placeholder="Apellido" required />
        <input type="date" id="birthDate" required />
        <input type="text" id="gender" placeholder="Género" required />
        <input type="number" id="dni" placeholder="DNI sin puntos" required />
        <input type="submit" id="submit" value="Registrar" />
    </form>
    <p id="registerResponse"></p>

    
</body>

</html>